rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // PUBLIC ACCESS FOR BETA PHASE
    // WARNING: Restrict before going to production!
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
